body {
    background-color:#fffff7;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.prose {
    margin-left: 2em;
    margin-right: 2em;
}

pre {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    margin-right: auto;
    margin-bottom:2.2em;
    background-color: #e0e0f0;
    width:85%;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


h1, h2 {
    background-color: #305070;
    color: #ffffff;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 12px 8px 16px #e4e4e4;
}

h1 {
    padding: 32px;
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}

h2 {
    padding: 0.5em;
    margin-top: 2em;
    margin-bottom: 1.6em;
}

.signature {
}

.desc {
}

.name {
    float:left;
    font-family:monospace;
}

.paramlist {
    overflow: auto;
    font-family:monospace;
}
.paramparen {
    color:black;
    font-family:monospace;
    padding-left:0.4em;
    padding-right:0.4em;
}

.paramname {
    color:#000080;
    font-family:monospace;
}
.paramtype {
    color:#707070;
    font-style: italic;
}

.returns_sec {
    margin-top: 1em;
}
.returns {
    color:#000000;
    float:left;
    padding-left:1em;
    font-style:italic;
}
.returnlist {
    overflow: auto;
    padding-left:0.5em;
}
.returncomma {
    color:black;
    padding-left:0.2em;
    padding-right:0.3em;
}

.function, .class {
    border-style:solid;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-width:2px;
    box-shadow: 12px 8px 16px #e4e4e4;
    margin:28px;
}

.function {
    background-color:#f5f6f8;
    border-color:#6060c0;
}

.functionhead {
    background-color:#6060a0;
    color:#ffffff;
    padding:8px;
    font-weight: bold;
    text-align:left;
}

.functionbody {
    padding:16px;
}


.class  {
    background-color:#f8f8f8;
    border-color:#a04040;
}

.classhead {
    background-color:#a04040;
    color:#ffffff;
    padding:8px;
    font-weight: bold;
    text-align:left;
}

.classbody {
    padding-left:16px;
    padding-right:16px;
    padding-bottom:16px;
}

.classdivider {
    margin-top:24px;
    font-style:italic;
    font-weight:bold;
}

.classfield {
    margin-left:8px;
    margin-top:12px;
    font-family:monospace;
}

.classfieldname {
    color:#0000ff;
    float:left;
    font-family:monospace;
}

.classfielddesc {
    font-family:sans-serif;
    margin-left:8px;
}

.classmethod {
    margin-left:8px;
    margin-top:12px;
    margin-bottom: 32px;
    font-family:monospace;
}

.classmethodname {
    color:#0000ff;
    float:left;
    font-family:monospace;
}

.classmethoddesc {
    font-family:sans-serif;
    margin-left:8px;
}

